*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    overflow-x: hidden;
    font-family: 'Nunito', sans-serif;
}

header{
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;

    nav{
        .menu-burger{
            display: none;
        }
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 7vh;
        width: 90%;
        margin-top: 2vh;


        img{
            justify-content: flex-start;
            margin-left: 1vw;
        }

        ul{
            width: 52%;
            height: 99%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            li{
                display: flex;
                justify-content: center;
                align-items: end;
                list-style: none;
                padding: 10px;
                width: 15%;
                height: 100%;
                a{
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    width: 100%;
                    color: white;
                    font-weight: lighter;
                    font-size: 20px;
                    text-decoration: none;
                }
                .login{
                    width: 20vw;
                    color: #8C9EFC;
                    margin-top: 15px;
                    background-color: white;
                    height: 80%;
                    margin-left: 0.5vh;
                    margin-right: 0.5vh;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 5px;
                    img{
                        width: 10px;
                        height: 15px;
                        margin-top: 5%;
                    }
                    &:hover{
                        background-color: transparent;
                    }   
                }
                &:hover{
                    height: 150%;
                    margin-top: -3vh;
                    background-color: #8C9EFC;
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                    cursor: pointer;
                }

            }
            :nth-child(4){
                margin-left: 7px;
                margin-right: 7px;
                width: 30%;
            }

            
        }
    }

    .headerContent{
        margin-top: 10vh;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 2vw;
        .left{
            h1{
                color: white;
                font-size: 49px;
                font-weight: bold;
                line-height: 80px;
            }
            p{
                font-size: 28px;
                color: white;
                filter: opacity(80%);
                font-weight: 300;
            }

            form{
                margin-top: 5vh;
                input{
                   width: 20vw; 
                   height: 55px;
                   background-color: #384170;
                   border: #384170;
                   border-radius: 5px;

                   &::placeholder {
                    color: white;
                    filter: opacity(80%);
                    font-size: 18px;
                    padding: 15px;
                  }
                }
                #extension-select{
                    width: 5vw; 
                    height: 55px;
                    margin-left: -1vw;
                    background-color: #384170;
                    border: #384170;
                    color: white;
                    margin-right: 2vw;
                    border-radius: 5px;
                    cursor: pointer;
                }
                button{
                    height: 55px;
                    width: 200px;
                    color: white;
                    background-color: #8C9EFC;
                    border: #8C9EFC solid;
                    cursor: pointer;
                    border-radius: 5px;
                    font-size: 16px;
                }
            }
        }

    }

    .bg-image{
        position: absolute;
        top: -40px;
        z-index: -1;
    }

}


.joinUs{

    margin-top: 26vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .heading{
        text-align: center;

        h2{
            font-size: 35px;
            font-weight: bold;
            line-height: 70px;
        }
        p{
            font-size: 28px;
            font-weight: 400;
            filter: opacity(75%);
        }
    }

    .content{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;

        .text{
            width: 36%;
            height: 900px;

            ul{
                li{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: row;
                    list-style: none;
                    padding: 10px;
                    .li-content{
                        align-items: flex-start;
                        flex-direction: column;
                        text-align: left;
                        margin-left: 1.5vw;
                        margin-top: 5vh;
                        h3{
                            font-size: 23px;
                            font-weight: bold;
                            margin-bottom: 2vh;

                        }
                        p{
                            font-size: 21px;
                            font-weight: 400;
                            filter: opacity(70%);
                            line-height: 35px;
                        }
                    }
                }
            }
        }

        .images{
            position: relative;
            margin-top: -10vh;
            width: 40%;
            height: 1070px;

            :nth-child(1){
                position: relative;
                z-index: 1;
                top: 17%;
                left: 60%;
                transform: rotate(90deg);
                
            }
            :nth-child(2){
                box-shadow: 0px 3px 17px rgba($color: black, $alpha: 0.15);
            }
            :nth-child(3){
                position: relative;
                z-index: 1;
                bottom: 16%;
                right: 18%;
                
            }
        }
    }
}

.start{
    margin-top: -35vh;
    background-color: #F7F8FF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    .heading{
        text-align: center;
        margin-top: 10vh;

        h2{
            font-size: 35px;
            font-weight: bold;
        }
        p{
            font-size: 26px;
            font-weight: 400;
            filter: opacity(80%);
        }
    }
    .content{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        width: 100%;
        margin-top: 7vh;
        margin-bottom: 15vh;

        .card, .card2{
            display: flex;
            justify-content: center;
            align-items: start;
            flex-direction: column;
            width: 40%;
            height: 47vh;
            border-radius: 5px;
            padding-left: 3%;

            .icons{
                width: 90%;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            h4{
                color: white;
                font-size: 23px;
                text-align: left;
                font-weight: 600;
                line-height: 45px;


            }
            p{
                font-size: 18px;
                color: white;
                filter: opacity(70%);
                width: 80%;
                text-align: left;
                line-height: 32px;
            }
            a{
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 16px;
                color: #93A5FF;
                text-decoration: none;
                width: 9vw;
                height: 5vh;
                background-color: white;
                border-radius: 5px;
                font-weight: 700;
            }
        }

        .card{
            background-color: #93A5FF;
            .icon{
                width: 75px;
                height: 75px;
                margin-top: -5vh;
                margin-bottom: 2vh;
                background-color: #424D83;
                background-image: url(../images/launch.png);
                background-repeat: no-repeat;
                background-position: center;
                border-radius: 5px;
            }
            :nth-child(4){
                position: relative;
                left: 68%;
                top: 8%;
            }
        }
        .card2{
            background-color: #424D83;
            .icon{
                width: 75px;
                height: 75px;
                margin-top: -5vh;
                margin-bottom: 2vh;
                background-color: #93A5FF;
                background-image: url(../images/layout1.png);
                background-repeat: no-repeat;
                background-position: center;
                border-radius: 5px;
            }
            :nth-child(4){
                position: relative;
                left: 68%;
                top: 5%;
            }
        }
    }

}

.host{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    .heading{
        z-index: 1;
        text-align: center;
        margin-top: 10vh;

        h2{
            font-size: 35px;
            font-weight: bold;
        }
        p{
            font-size: 26px;
            font-weight: 400;
            filter: opacity(80%);
        }
    }
    .content{
        z-index: 1;
        width: 100vw;
        height: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin-top: 7vh;
        margin-bottom: 15vh;

        

        .card1,.card2,.card3,.card4{
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
            flex-wrap: wrap;
            box-shadow: 0px 3px 17px rgba($color: black, $alpha: 0.1);
            width: 18%;
            margin-left: 1.5vw;
            margin-right: 1.5vw;
            border-radius: 7px;
            cursor: pointer;

            .topPart{
                height: 35vh;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                text-align: center;
                span{
                    display: none;
                }
                    img{
                        margin-top: 10%;
                    }

                h3{
                    margin-top: 24%;
                    font-size: 23px;
                    font-weight: bold;
                }
                p{
                    margin-top: 5%;
                    margin-bottom: 20%;
                    font-size: 18px;
                    font-weight: 400;
                    filter: opacity(80%);
                    width: 75%;
                    line-height: 32px;
                }
            }

            .bottomPart{
                transition: transform 250ms;
                width: 100%;
                height: 15vh;
                border-top: 1px solid rgba($color: black, $alpha: 0.15);
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-direction: column;
                text-align: center;

                p{
                    font-size: 20px;
                    line-height: 32px;
                    filter: opacity(80%);
                }
                h4{
                    display: flex;
                    flex-direction: row;
                    font-size: 38px;
                    font-weight: 500;
                    line-height: 37px;
                    p{
                        margin-top: 10px;
                        font-size: 16px;
                        font-weight: 300;
                        filter: opacity(80%);
                    }
                }
                a{
                    display: none;
                }
            }

            &:hover{
                transform: translateY(7vh);

                .topPart{
 
                    span{
                        height: 10px;
                        width: 100%;
                        background-color: #93A5FF;
                        border-top-left-radius: 5px;
                        border-top-right-radius: 5px;
                        display: block;
                    }
                        img{
                            margin-top: -10%;
                        }
    
                    h3{
                        margin-top: -16%;
                        font-size: 23px;
                        font-weight: bold;
                    }
                    p{
                        margin-top: -18%;
                        margin-bottom: 15%;
                        font-size: 18px;
                        font-weight: 400;
                        filter: opacity(80%);
                        width: 75%;
                        line-height: 32px;
                    }
                }

                .bottomPart{
                    height: 30vh;
                    border-top: 1px solid rgba($color: black, $alpha: 0.15);
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    flex-direction: column;
                    text-align: center;
    
                    p{
                        font-size: 20px;
                        line-height: 32px;
                        filter: opacity(80%);
                    }
                    h4{
                        display: flex;
                        flex-direction: row;
                        font-size: 38px;
                        font-weight: 500;
                        line-height: 37px;
                        p{
                            margin-top: 10px;
                            font-size: 16px;
                            font-weight: 300;
                            filter: opacity(80%);
                        }
                    }
                    a{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 60%;
                        height: 5vh;
                        background-color: #F7F8FF;
                        color: #8C9EFC;
                        font-size: 18px;
                        text-decoration: none;
                        font-weight: 700;
                    }
                }

            }
        }
    }
}

.feedback{
    background-color: #F7F8FF;
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-bottom: 15vh;
    .heading{
        text-align: center;
        margin-top: 5vh;

        h2{
            font-size: 35px;
            font-weight: bolder;
        }
        p{
            font-size: 26px;
            font-weight: 400;
            filter: opacity(80%);
        }
    }

    .content{
        width: 80%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        .user1, .user2{
            display: flex;
            justify-content: center;
            align-items: start;
            flex-direction: row;
            width: 45%;
            .cardContent{
                display: flex;
                justify-content: center;
                align-items: start;
                flex-direction: column;
                .feedbacks{
                    width: 100%;
                    font-size: 23px;
                    line-height: 37px;
                }
                .name{
                    margin-top: 1vh;
                    font-size: 20px;
                    line-height: 32px;
                    font-weight: bold;
                }
            }
        }
    }
}

.clients{
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    .heading{
        z-index: 1;
        text-align: center;

        h2{
            font-size: 35px;
            font-weight: bold;
        }
        p{
            font-size: 26px;
            font-weight: 400;
            filter: opacity(80%);
        }
    }
    .content{
        z-index: 1;
        width: 80vw;
        height: 60%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        margin-top: 10vh;
        margin-bottom: 15vh;
        .images{
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: row;
        }

        a{
            margin-top: 10vh;
            width: 10vw;
            height: 7vh;
            background-color: #93A5FF;
            border-radius: 7px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            font-size: 18px;
            font-weight: 600;
            color: white;
        }
    }
}


footer{
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-image: url(../images/footer_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    color: white;

    .left{
        margin-left: -15vh;
        margin-top: 15vh;
        width: 50%;
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        

        .content1,.content2,.content3,.content4{
            padding: 70px;

            

            h3{
                font-size: 23px;
                margin-bottom: 3vh;
            }  
            ul{
                
                li{
                    list-style: none;
                    line-height: 32px;
                }
            }
        }
        .content4{
            margin-top: -12vh;
        }
    }

    .right{
        margin-top: 12vh;
        height: 30vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        .content1{
            display: flex;
            justify-content: center;
            align-items: start;
            flex-direction: column;
            h3{
                font-size: 23px;
                margin-left: 5px;
            }
            .images{
                margin-top: 2vh;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                height: 60px;
                width: auto;

                img{
                    height: 100%;
                    width: auto;
                    margin-left: 5px;
                    margin-right: 5px;
                    background-color: #384170;
                    padding: 10px;
                }
                
            }
        }
        
        .content2{
           display: flex;
           justify-content: center;
           align-items: end;
           flex-direction: column;
           margin-left: 11vw;
        }

    }
}





























@media screen and(max-width: 1500px){
    body {
        overflow-x: hidden;
        width: 100%;
    }
    header{
        .headerContent{
            margin-top: 2vh;
        }
    }
    .joinUs{
        margin-bottom: 30vh;
        .content{
            flex-wrap: wrap;
            .images{
                :nth-child(odd){
                    display: none;
                }
                :nth-child(even){
                    margin-top: 32vh;
                }
            }
        }
    }
    .start{
        .content{
            .card,.card2{
                a{
                    font-size: 12px;
                }
            }
        }
    }
    .host{
        .content{
            .card1,.card2,.card3,.card4{
                .topPart{
                    h3{
                        font-size: 20px;
                    }
                    p{
                        font-size: 16px;
                    }
                }
                .bottomPart{
                    p{
                        font-size: 16px;
                    } 
                    h4{
                        font-size: 20px;
                        p{
                            margin-top: 0.3vh;
                        }
                    }
                    &:hover
                    a{
                        font-size: 12px;
                    }
                }
            }
            &:hover{
                .topPart{
                    h3{
                        font-size: 20px;
                    }
                    p{
                        font-size: 16px;
                    }
                }
                .bottomPart{
                    a{
                        font-size: 12px;
                    }
                    h3, h4{
                        font-size: 20px;
                    }
                    p{
                        font-size: 16px;
                    }
                }
            }
        }
    }
    .clients{
        .content{
            width: 90%;
            a{
                text-align: center;
                font-size: 14px;
            }
        }
    }
    footer{
        .left{
            margin-left: 10px;
            :nth-child(4){
                margin-top: -5vh;
            }
        }
    }
}



































@media screen and(max-width: 1200px){
    body {
        overflow-x: hidden;
        width: 100%;
    }
    header{
        nav{
            width: 100vw;
            justify-content: space-around;
        }
        .headerContent{
            img{
                display: none;
            }
            .left{
                text-align: center;
                margin-top: 20vh;
                margin-bottom: 20vh;
                form{
                    margin-top: 5vh;
                    input{
                       width: 25vw; 
                       &::placeholder {
                        color: white;
                        filter: opacity(80%);
                        font-size: 14px;
                        padding: 15px;
                      }
                    }
                    #extension-select{
                        width: 10vw;
                        margin-left: 0.1vw;
                    }
                }
            }
        }
    }
    .joinUs{
        
        .content{
            .text{
                width: 100vw;
                height: auto;
                margin-bottom: 15vh;
                flex-wrap: wrap;
                ul{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: row;
                    flex-wrap: wrap;
                    li{
                        flex-wrap: wrap;
                        width: 28%;
                        margin-left: 5vw;
                        .li-content{
                            flex-wrap: nowrap;
                            p{
                                width: 250px;
                            }
                        }
                        
                    }
                }
            }
        }
        .images{
            display: none;
        }
    }
    .start{
        .content{
            .card,.card2{
                a{
                    margin-bottom: 5vh;
                }
            }
            .card2{
                .icons{
                    margin-top: 2vh;
                }
            }
        }
    }
    .feedback{
        .content{
            width: 100vw;
        }
    }
    .clients{
        .content{
            width: 95%;
            img{
                transform: scale(0.8);
            }
        }
    }
    footer{
        .left{
            width: 100%;
            justify-content: center;

        }
        .right{
            width: 100%;
            margin-top: 5vh;
            margin-bottom: 5vh;
            .content1{
                display: flex;
                align-items: center;
                margin-bottom: 5vh;
            }
            .content2{
                margin-top: -30vh;
                display: flex;
                align-items: center;
                margin-left: 0;
            }
        }
    }
}



































@media screen and(max-width: 800px) {

    body {
        overflow-x: hidden;
        width: 100%;

    }
    header{
        nav{
            width: 80%;
            margin-left: 5vw;
            flex-direction: row-reverse;
            justify-content: space-between;
            .menu-burger{
                display: block;
                z-index: 1000000;
                width: 50px;
                height: 40px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-direction: column;
                span{
                    width: 100%;
                    height: 5px;
                    border-radius: 5px;
                    background-color: #93A5FF;
                }
            }
            ul{
                display: none;
            }
        }
    }
    .joinUs{
        .content{
            .text{
                width: 100vw;
                height: auto;
                margin-bottom: 15vh;
                flex-wrap: wrap;
                ul{
                    margin-top: 5vh;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: row;
                    flex-wrap: wrap;
                    li{
                        flex-wrap: wrap;
                        width: 40%;
                        margin-left: 0vw;
                        .li-content{
                            flex-wrap: nowrap;
                            p{
                                width: 250px;
                                text-align: center;
                            }
                        } 
                    }
                }
            }
        }
    }  
    .start{
        .content{
            width: 100%;
            .card,.card2{
                box-sizing: border-box;
                height: 60vh;
                width: 45%;
                .icons{
                    .icon{
                        display: none;
                    }
                }
                a{
                    font-size: 10px;
                    text-align: center;
                    width: 80px;
                    height: 40px;
                }
            }
        }
    }
    .host{
        height: 150vh;
        .content{
            height: 100vh;
            justify-content: center;
            flex-wrap: wrap;
            margin-bottom: 20vh;
            .card1,.card2,.card3,.card4{
                width: 200px;
                flex-wrap: wrap;
                margin-bottom: 15vh;
            }
        }
    }
    .feedback{
        height: 100vh;
        .heading{
            h2{
                font-size: 25px;
            }
            p{
                font-size: 20px;
            }
        }
        .content{
            margin-top: 5vh;
            margin-bottom: 5vh;
            flex-direction: column;
            .user1,.user2{
                width: 85%;
                .cardContent{
                    .feedbacks{
                        font-size: 18px;
                        line-height: 20px;
                        width: 80%;
                    }
                }

            }
            .user2{
                margin-top: 10vh;
            }


        }
        img{
            transform: scale(0.8);
        }
    }
    .clients{
        width: 100vw;
        .content{
            justify-content: center;
            flex-wrap: wrap;
            .images{
                img{
                    flex-wrap: wrap;
                    width: 110px;
                }
            }
            a{
                width: 17vw;
                height: 6vh;
            }
        }
    }
    
}





























@media screen and(max-width: 500px){
    header{
        .headerContent{
            .left{
                width: 100vw;
                margin-left: 0;
                h1{
                    font-size: 30px;
                    line-height: 35px;
                    margin-bottom: 5vh;
                }
                p{
                    font-size: 20px;
                    margin-bottom: 15vh;
                }
            }
            form{
                display: none;
            }
        }
    }
    .joinUs{
        .heading{
            h2{
                font-size: 22px;
            }
            p{
                font-size: 18px;
            }
        }
        .content{
            .text{
                ul{
                    li{
                        width: 100%;
                        .li-content{
                            h3{
                                font-size: 18px;
                            }
                            p{
                                font-size: 16px;
                                line-height: 18px;
                                text-align: left;
                            }
                        }
                    }
                }
            }
        }
    }
    .start{
        .heading{
            h2{
                font-size: 22px;
            }
            p{
                font-size: 18px;
            }
        }
        .content{
            flex-direction: column;
            .card, .card2{
                margin-bottom: 5vh;
                width: 90%;
            }
        }
    }
    .host{
        height: 300vh;
        .heading{
            h2{
                font-size: 22px;
            }
            p{
                font-size: 18px;
            }
        }
        .content{
            height: 100%;
        }
    }
    .feedback{
        .heading{
            h2{
                font-size: 22px;
            }
            p{
                font-size: 18px;
            }
        }
        .content{
            width: 99vw;
            margin-right: 8vw;
            .user1, .user2{
                width: 100%;
                .cardContent{
                    .feedbacks{
                        font-size: 16px;
                        width: 100%;
                    }
                }
            }
        }
        img{
            transform: scale(0.6);
        }
    }
    .clients{
        .heading{
            h2{
                font-size: 22px;
            }
            p{
                font-size: 18px;
            }
        }
        .content{
            .images{
                flex-direction: column;
                img{
                    width: 50vw;
                    margin-bottom: 3vh;
                }
            }
            a{
                width: 70vw;
            }
        }
    }
    footer{
        .left{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 30%;
            .content1,.content2,.content3,.content4{
                width: 40%;
                h3{
                    font-size: 18px;
                    margin-bottom: 2vh;
                    margin-top: 0;
                }
                ul{
                    flex-wrap: nowrap;
                    li{
                        flex-wrap: nowrap;
                        font-size: 14px;
                        width: 40vw;
                    }
                }
            }
        }
        .right{
            .content1{
                display: none;
            }
            .content2{
                margin-top: 5vh;
            }
        }
    }
}